extends ../layout

block content
  .container
    br
    h1 Chat Room
    .row
      .panel.panel-default
        .panel-body
          .container.messages-content
            #messages
          .panel-footer
            form(action='')
              .entry.input-group.col-xs-3
                input.form-control#inputMsg(type='text',  autocomplete='off', placeholder='Type something')
                span.input-group-btn
                  button.btn.btn-primary.btn-add(type='button') Send
                    span.glyphicon.glyphicon-plus

  script(src="/socket.io/socket.io.js")
  script.
    $(function () {
      var user =!{JSON.stringify(user)}

      var socket = io();
      $('form').submit(function(){
        var div = $('.messages-content')
        var o = div.offset().top; //gets the top position of the div
        var h = div.outerHeight(); // gets the height of the div

        div.scrollTop( o + h + 100);

        socket.emit('chat message', {msg: $('#inputMsg').val(), username: user.username, user_id: user._id, type: 'message', admin: user.admin});
        $('#inputMsg').val('');
        return false;
      });

      socket.on('chat message', function(data){
        var name = '';

        if (data.username == user.username)
          name = 'Me';
        else if(data.admin)
          name = 'Admin'
        else
          name = data.username;

        var html = '<div class="row message-bubble">'+
                      `<p class="text-muted">${name}:</p>` +
                      `<span>${data.msg}</span>` + 
                    '</div>';

        $('#messages').append($(html));
      });
    });