extends ../layout

block content
  .container
    br
    h1 Login Page
    p.lead Login to access app.
    br
    form(role='form', action="/login",method="post", style='max-width: 300px;')
      .form-group
          input.form-control(type='text', name="username", placeholder='Enter Username')
      .form-group
        input.form-control(type='password', name="password", placeholder='Password')
      button.btn.btn-primary(type='submit') Submit