extends ../layout

block content
  .container
    br
    h1 All Actions
    br
    table.table.table-hover.table-inverse
      thead
        tr
          th Date
          th Type
          th Message
          th Author
      tbody
        each activity in activities
          tr
            th= activity.createdAt
            td= activity.type
            td= activity.message
            td= activity.author.username