extends ../layout

block content
  .container

    br
    h1 Send commands to users
    br
    .row
      input.form-control.col-lg-6#command(type='text' placeholder="Type command...")
    br
    .row
      select.form-control.col-lg-3#dropdown
        each user in users
          option(value=user._id)= user.username
      button.btn.btn-primary.col-lg-3(type='submit') Send

    script(src="/socket.io/socket.io.js")
    script.
      var user =!{JSON.stringify(user)}
      var socket = io();

      socket.on('create command', function(){
        alert('command sent');
      });

      $('.btn').click(function(){
        var receiver_id = $('#dropdown').val()
        var command = $('#command').val()

        socket.emit('create command', {msg: command, receiver: receiver_id, user_id: user._id, type: 'command'});
      });