extends ../layout

block content
  .container
    h1 Messages
    .row
      .panel.panel-default
        .panel-heading Panel heading without title
        .panel-body
          .container
            .row.message-bubble
              p.text-muted Matt Townsen
              span Why is yo shit so broke?
            .row.message-bubble
              p.text-muted Matt Townsen
              p It Isn't'
            .row.message-bubble
              p.text-muted Matt Townsen
              p Umm yes it is
            .row.message-bubble
              p.text-muted Matt Townsen
              p Test message
          .panel-footer
            .input-group
              input.form-control(type='text')
              span.input-group-btn
                button.btn.btn-default(type='button') Send
