extends ../layout

block content
  .container
    br
    h1 Users List
    br
    table.table.table-hover.table-inverse
      thead
        tr
          th User
          th Created data
          th Last Visit
          th Last Action
      tbody
        each user in users
          tr
            th= user.username
            td= user.createdAt
            td= user.last_login_date
            if (user.activities.length)
              td= user.activities[user.activities.length -1].createdAt