doctype html
html
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')

    script(src='/bower_components/jquery/dist/jquery.js')
    script(src='/bower_components/tether/dist/js/tether.min.js')
    script(src='/bower_components/bootstrap/dist/js/bootstrap.min.js')
  body
    include navbar
    block content

