nav.navbar.navbar-toggleable-md.navbar-light.bg-faded
  button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
    span.navbar-toggler-icon
  a.navbar-brand(href='/') Navbar
  #navbarSupportedContent.collapse.navbar-collapse
    ul.navbar-nav.mr-auto
      //- li.nav-item.active
      //-   a.nav-link(href='#')
      //-     | Home 
      //-     span.sr-only (current)
      if (!user)
        li.nav-item
          a.nav-link(href='/login') Login
        li.nav-item
          a.nav-link(href='/register') Register
      if (user)
        if (user.admin)
          li.nav-item
            a.nav-link(href='/admin/actions') Actions
          li.nav-item
            a.nav-link(href='/admin/commands') Commands
          li.nav-item
            a.nav-link(href='/admin/users') Users
          //- li.nav-item
          //-   a.nav-link(href='/admin/messages') Messages
        else
          li.nav-item
            a.nav-link(href='/user/actions') Actions
          li.nav-item
            a.nav-link(href='/user/statistics') Statistics
          //- li.nav-item
          //-   a.nav-link(href='/user/messages') Messages
        li.nav-item
          a.nav-link(href='/chat') Chat Room
        li.nav-item
          a.nav-link(href='/logout') | Logout (#{user.username})