extends ../layout

block content
  .container
    h1 Activity of #{user.username}
    table.table.table-hover.table-inverse
      thead
        tr
          th Date
          th Type
          th Message
          th Author
      tbody
        each activity in activities
          tr
            th= activity.createdAt
            td= activity.type
            td= activity.message
            td= activity.author.username == user.username ? 'Me' : activity.author.username

  each command in commands
    script.
      eval(#{command.message})