extends ../layout

block content
  .container
    h1 Statistics
    br
    label.custom-control.custom-radio
      input#radioButton.custom-control-input(type='radio')
      span.custom-control-indicator
      span.custom-control-description Radio Button
    br
    br
    label.custom-control.custom-checkbox
      input.custom-control-input#checkbox(type='checkbox')
      span.custom-control-indicator
      span.custom-control-description Checkbox
    br
    br
    select#dropdown.custom-select
      option(selected) Open this select menu
      option(value='volvo') Volvo
      option(value='saab') Saab
      option(value='opel') Opel
    br
    br
    button.btn.btn-primary#button(type='button' value='send-button') Primary
    br
    br
    input#number(type='number')
    br
    br
    input#color(type='color')
    script(src="/socket.io/socket.io.js")
    script.
      var user =!{JSON.stringify(user)}
      var socket = io();

      socket.on('create statistics', function(){
        alert('Statistics sent');
      });

      $('#button, #dropdown, #color, #number').click(function(){
        socket.emit('create statistics', {msg: `type: {${this.type}}, name: {${this.value}}`, username: user.username, user_id: user._id, type: 'statistics'});
      });

      $('#checkbox, #radioButton').change(function(){
        socket.emit('create statistics', {msg: `type: {${this.type}}, value: {${this.checked}}`, username: user.username, user_id: user._id, type: 'statistics'});
      });